<ul class="nav nav-tabs">
  <li role="presentation" class="<%= "active" if  current_page?(restaurants_path)%>"><%= link_to "首頁", restaurants_path %></li>
  <li role="presentation" class="<%= "active" if  current_page?(feeds_restaurants_path) %>"><%= link_to "最新動態", feeds_restaurants_path %> </li>
  <li role="presentation" class="<%= "active" if  current_page?(ranking_restaurants_path) %>"><%= link_to "Top10人氣餐廳", ranking_restaurants_path %> </li>
</ul>

<br>